<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <proxies>
        <proxy>
            <id>http</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>10.232.233.70</host>
            <port>8080</port>
            <nonProxyHosts>*.amdocs.com|10.0.0.0/8|10.236.83.*|localhost|127.0.0.1|10.234.211.120|10.234.211.211|10.234.211.180</nonProxyHosts>
        </proxy>
        <proxy>
            <id>https</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>10.232.233.70</host>
            <port>8080</port>
            <nonProxyHosts>*.amdocs.com|10.0.0.0/8|10.236.83.*|localhost|127.0.0.1|10.234.211.120|10.234.211.211|10.234.211.180</nonProxyHosts>
        </proxy>
    </proxies>
    <servers>
        <server>
            <id>nexus-snapshots-ocs-integration</id>
            <username>${env.DEPLOY_USER}</username>
            <password>${env.DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>${env.DEPLOY_USER}</username>
            <password>${env.DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>nexus-releases</id>
            <username>${env.DEPLOY_USER}</username>
            <password>${env.DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>nexus-optima-core-snapshots</id>
            <username>${env.DEPLOY_USER}</username>
            <password>${env.DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>sonar</id>
            <username>${env.SONAR_USER}</username>
            <password>${env.SONAR_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>repositories</id>
            <properties>
                <nexus-base-url>${env.nexusBaseURL}</nexus-base-url>
                <nexus-repo-name>${env.nexusRepoNAME}</nexus-repo-name>
            </properties>
            <repositories>
                <repository>
                    <id>maven-group</id>
                    <url>${nexus-base-url}/${nexus-repo-name}</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>maven-group-plugin</id>
                    <name>remote-repo</name>
                    <url>${nexus-base-url}/${nexus-repo-name}</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <profile>
            <id>spring-boot-repo</id>
            <repositories>
                <repository>
                    <id>spring-boot-repo</id>
                    <url>https://repo1.maven.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>spring-boot-repo</id>
                    <url>https://repo1.maven.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>


    </profiles>
    <activeProfiles>
        <activeProfile>repositories</activeProfile>
        <activeProfile>spring-boot-repo</activeProfile>
    </activeProfiles>
    <pluginGroups>
        <pluginGroup>org.apache.maven.plugins</pluginGroup>
        <pluginGroup>org.codehaus.mojo</pluginGroup>
    </pluginGroups>
</settings>
